[log]
# 0-7 Trace-Panic
level = 1 # info

[db]
# mysql client info
host = "127.0.0.1"
port = 3306
user = "keymesh"
pass = "keymesh"
name = "keymesh"

[cache]
# redis client info
host = "127.0.0.1"
port = 6379

[stmp]
# smtp client info
host = "xxx.com"
port = 0
email = "xxx@xxx.com"
pass = "pass"
